<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mua ban pos</title>     
        <link rel="stylesheet" type="text/css" href="layout.css">
        
    </head>
    <body>
      <div id="ban"></div>
      <!-- <button type="btn" onclick="open_table()">mở bàn</button>
      <button type="btn" onclick="disable_product()">Disable product</button> -->
      COPYRIGHT QTC 
      <div id="tesst"></div>
   
    </body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="xuly.js"></script>
<script>



</script>
</html>